.home-user header{
    padding: 4rem 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.home-user .logo{
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-user ul{
    list-style: none;
}

.home-user ul li{
    display: inline-block;
    margin-left: 2rem;
    font-size: 2rem;
}

.home-user ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: .4s;
    display: inline-block;
}

.home-user ul li a:hover{
    transform: scale(1.05);
    background-color: #fff;
    color: black;
    padding: 0.5rem 1rem;
    
}

.home-user .logout{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border: 2px solid white;
    border-radius: 50%;
    transition: .4s;
}

.home-user .logout:hover{
    scale: 1.1;
    color: black;
}