html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  background: #111;
  color: white;
  padding: 20px 0;
  margin-top: 100rem;
  height: 20rem;
}

/* seus estilos */
.line-foteer {
  width: 100%;
  margin-top: 5rem;
}

.flex {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo-footer h2{
    font-size: 5rem;
}

.direitos-footer p{
    font-size: 2rem;
}


