.home-scope {
    background-color: white;
}

/* ---- SECTION ---- */

.home-scope .hero-section {
    padding: 10rem 5% 6rem;
    text-align: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-scope section{
    padding: 6rem 2%;
    text-align: center;
    height: 30rem;
}

.hero-section .hero-title{
    font-size: 7rem;
    color: #000000;
    margin-bottom: 2rem;
}

.hero-section .hero-subtitle {
    font-size: 3rem;
    color: #000000;
    margin-bottom: 4rem;
}


/* --- SEÇÃO DE INFORMAÇÕES --- */

.hero-section .features-section {
    padding: 6rem 2%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.hero-section .features-section h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* Fundo escurecido */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container do modal */
.modal-container {
  background: #fff;
  width: 450px;
  max-width: 95%;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

/* Título */
.modal-container h2,
.modal-container h3 {
  text-align: center;
}

/* Botão fechar */
.modal-close-btn {
    position: absolute !important;
    top: 10px;
    right: 10px;
}

/* Labels */
.form-edit-car-admin label {
  margin-top: 10px;
  font-weight: 600;
  display: block;
  color: #333;
}

/* Inputs */
.form-edit-car-admin input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
  font-size: 1rem;
  transition: 0.2s;
}

.form-edit-car-admin input:focus {
  border-color: #1976d2;
  outline: none;
}

/* Botão salvar */
.form-edit-car-admin button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
}

.form-edit-car-admin button:hover {
  background: #1259a7;
}

/* Animação */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.error-text{
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}
