

header{
    padding: 4rem 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

header .logo{
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    margin-left: 2rem;
    font-size: 2rem;
}

ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: .4s;
    display: inline-block;
}

ul li a:hover{
    transform: scale(1.05);
    background-color: #fff;
    color: black;
    padding: 0.5rem 1rem;
    
}

/* ---- SECTION ---- */


section{
    padding: 6rem 2%;
    text-align: center;
    height: 30rem;
}

.hero-title{
    font-size: 7rem;
    margin-bottom: 2rem;
}

.hero-subtitle {
    font-size: 3rem;
    margin-bottom: 4rem;
}

 .especialidades{
    padding: 120px 4%;
}

 .especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: whitesmoke;
    padding: 40px;
    margin-top: 20px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px yellow;
}


.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

